@keyframes fadeInText {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(..//Accet/web_site_Bg_2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.PartTwo {
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#TextA {
    animation: fadeInText 3s ease-in-out forwards;
    color: white;
    text-align: center;
}
